.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1; 
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333; 
    display: block;
    transition: background 0.3s, padding-left 0.3s;
}

.sidenav a:hover {
    background: rgba(0, 0, 0, 0.2);
    padding-left: 30px;
}

.title{
    margin-left: 240px;
    padding: 10px;
}

.mokuji{ 
    margin-left: 240px;
    padding: 10px;
}

.hyouka{
    margin-left: 240px;
    padding: 10px;
}

.rank1{
    margin-left: 240px;
    padding: 10px;
}

.rank2{
    margin-left: 240px;
    padding: 10px;
}

.rank3{
    margin-left: 240px;
    padding: 10px;
}

.kotu{
    margin-left: 240px;
    padding: 10px;
}

/*== 開閉式もくじ ==*/
.contents_box {
    padding: 10px;
    font-size:1rem;/*タイトルのフォントサイズ*/
    color:#696969;/*タイトルの文字色*/
    background-color:#fff;/*背景色*/
    border:1px solid #696969;/*外枠線- 色*/
}

/*== 開閉文字装飾 ==*/
.contents_box label {
    padding: 5px;
    color:#0000ff; /*文字色*/
    font-size:1rem;/*フォントサイズ*/
    cursor:pointer;
    border-bottom: 1px dotted #0000ff;/*下線*/
}

/*開く*/
.contents_box label:before{
    display: inline-block;
    content: "[ 開く ]";/*"表示"などに変更可*/}
/*閉じる*/
.contents_box input:checked ~ label:before {
     content: "[ 閉じる ]";/*"非表示"などに変更可*/}

.contents_box input{display:none;}
/*最初は非表示*/
.contents_box .hidden_show
{height:0;padding:0;overflow:hidden;transition:0.8s;}
/*クリックでopen*/
.contents_box input:checked ~ .hidden_show
{padding: 10px 0;height:auto;}

.table-wrap {
    overflow-x: scroll;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }
  .table th,
  .table td {
    border: 2px solid #eee;
    padding: 4px 8px;
  }

  .button a {
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}
.button a:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

h2{
    border-bottom:solid;
}

.sidebar{
    border-left:solid #c2bebe;
    padding-left: 10px;

}

.rankcolor1{
    border:solid;
    width:35px;
    background-color: gold;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 7px;
}

.rankcolor2{
    border:solid;
    width:35px;
    background-color:silver;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 7px;
}

.rankcolor3{
    border:solid;
    width:35px;
    background-color:#ac6b25;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 7px;
}

a.irokesi:link{
    color: #333;
}

a.irokesi:visited{
    color: #333;
}

a.irokesi:hover{
    border-bottom:solid thin #333;
}
a.irokesi{
    text-decoration: none;
}